ETCD_NAME='vm-otus1'
ETCD_LISTEN_PEER_URLS='http://127.0.0.1:2380,http://192.168.0.27:2380'
ETCD_LISTEN_CLIENT_URLS='http://127.0.0.1:2379,http://192.168.0.27:2379'
ETCD_INITIAL_CLUSTER='vm-otus1=http://vm-otus1:2380, vm-otus2=http://vm-otus2:2380, vm-otus13=http://vm-otus3:2380'
ETCD_INITIAL_CLUSTER_STATE='new'
ETCD_INITIAL_CLUSTER_TOKEN='etcd_otus_Claster'
ETCD_DATA_DIR='/var/lib/etcd'
ETCD_ELECTION_TIMEOUT='10000'
ETCD_HEARTBEAT_INTERVAL='2000'
ETCD_ADVERTISE_CLIENT_URLS='http://vm-otus1:2379'
ETCD_INITIAL_ADVERTISE_PEER_URLS='http://vm-otus1:2380'
ETCD_INITIAL_ELECTION_TICK_ADVANCE='false'
ETCD_ENABLE_V2='true'